<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  form{
    border:solid black 1px ; 
    box-shadow:3px 3px 3px grey ; 
    width:350px ;
    height:440px ; 
    margin-inline:auto;
    margin-block:40px ;
    border-radius:5px ;
    padding-left:20px ;
    color:white;
    background-color: rgba(7, 10, 12, 0.622);
  }
  label{
    font-weight:bolder ; 
  
    
  }
  #emailHelp{
    color:white;
  }
  img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width:1260px ;
  height:800px ;
  opacity:0.8;
}
  input{
    width:300px !important ;
  }
  h1{padding-block:20px ;
  text-align:center;
  color:white;
}
  </style>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <%- include('./partials/nav') %>
     <img src="/images/background.jpg" alt="">
    <form action="/user/signIn" method="post"class="fm">
      
        <div class="mb-3 ">
          <h1>SignIn</h1>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control " id="exampleInputEmail1" aria-describedby="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control " id="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <%- include('./partials/script') %> 
       <%- include('./partials/footer') %>
</body>
</html>